body {
    margin: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}

.header a {
    padding-left: 15px;
    text-decoration: none;
    color: white;
}

.top-info {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 100px;
    gap: 10px;
    color: white;
}

.top-info h1 {
    font-weight: bolder;
    font-size: 2.7rem;
    margin-bottom: 0px;
}

.top-info p {
    margin: 8px 0px;
}

.top-info .left {
    width: 400px;
}


.top-info button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 15px;
    font-weight: bolder;
    
}
.top-info p {
    color: rgba(255, 255, 255, 0.623);
}

.random-info {
    display: flex;
    flex-direction: column;
    padding: 100px;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
}

.random-info h1 {
    color:#1f2937;
}


.random-info .cards {
    display: flex;
    gap: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
}
.random-info .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(128, 128, 128, 0.842);
}
.random-info .cards .square {
    border: #3882F6;
    border-width: 5px;
    border-radius: 10%;
    border-style: solid;
    width: 140px;
    height: 140px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 20px;
    font-style: italic;
    font-weight: light;
    padding: 150px;
    padding-top:50px; padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
}
.quote h2 {
    font-size: 25px;
    font-weight: lighter;
    width: 600px;
    text-align: center;
}

#cnt_author {
    display: flex;
    justify-content: flex-end;
    width: 600px;
}

.quote p {
    text-align: end;
    font-weight: bolder;
}